.img-back{
    background-image: url(https://www.luckythunder.quest/assets/images/website/wheel-background-20220821154738.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}